

// @font-face {
//     font-family: amiga;
//     src: url(/assets/fonts/amiga4ever.ttf);
// }

// @font-face {
//     font-family: amiga2;
//     src: url(/assets/fonts/amiga4ever-pro.ttf);
// }


@font-face {
    font-family: amiga3;
    src: url(/assets/fonts/TopazPlus_a500_v1.0.ttf);
}

$mainFont:    amiga3, Helvetica, sans-serif;
$blue: rgb(10, 73, 164); 

a, a:hover, a:link, a:active, a:visited{
    text-decoration: none;
    color:$blue;
    cursor: url('/assets/cursors/amiga_pointers/link.png'), move;
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-weight: 100;
    font-size: 20px;
    font-family: $mainFont;
    background-color: $blue;
    cursor: url('/assets/cursors/amiga_pointers/normal2.png'), move;
}

/* buttons */
.toback, .tofront{ 
    height: 28px;
    width: 35px; 
    background-color: white; 
    border: 1px solid $blue;
}

.toback{
    .blackSquare, .whiteSquare{
        position: relative;
        height: 15px;
        width: 20px; 
        background-color: black;
        top: 9px;
        left: 10px;
        z-index: 200; 
    }
    .whiteSquare{
        position: absolute;
        background-color:white; 
        border: 1px solid $blue; 
        z-index: 100; 
        top: 5px; 
        left: 5px; 
    }
}
.tofront { 
    .blackSquare, .whiteSquare{
        position: relative;
        height: 15px;
        width: 20px; 
        background-color: black;
        top: 9px;
        left: 10px;
        z-index: 100; 
    }
    .whiteSquare{
        position: absolute;
        background-color:white; 
        border: 1px solid $blue; 
        z-index: 200; 
        top: 5px; 
        left: 5px; 
    }
}


/* window */
.window{ 
    color: white; 
    background-color: $blue;
    position: absolute;
    display: none;
    .topBorder {
        color: $blue;
        height: 30px; 
        background-color: white; 
        position: relative; 
        display: block; 
        top: 0;
        padding-left: 5px;
        cursor: url('/assets/cursors/amiga_pointers/move2.png'), move;
        .closeBtn{
            float: left; 
            width: 30px; 
            height: 30px;
            border: 1px solid black; 
            .subRect{
                border:2px solid $blue;
                width: 20px;
                height:20px;
                margin: 0 auto;
                position:relative;
                top: 15%;
                text-align: center;
                line-height: 5px;
                font-family: arial;
            }    
        }
        a.closeBtn{
            text-decoration: none;
        }
        .windowName{
            padding-left:5px; 
            display: inline-block;
        }
    }
    .content{ 
        padding: 15px;
        border:2px solid white;
        height: 100%;
        overflow: auto;
    }
}



/* Head  */

nav { 
    background-color: white;
    color: $blue;
    ul {
        list-style: none;
        li {
            margin-left: 20px;
            display: inline;  
        }
    }
    .buttons{
        .toback, .tofront{ 
            position: absolute; 
            top:0;
            right:40px;
        }
        .tofront{ 
            right:5px;
        }    
    }
}

.icons{
    float: right;
    width: 100px; 
    .icon { 
        color: white;
        text-align: center;
        padding-bottom: 20px;
    }    
}


// Specific Windows
#about {
    top: 10%; 
    left: 25%; 
    position: absolute; 
    height: 300px; 
    width: 400px;
}
#demos {
    top: 20%; 
    left: 20%; 
    height: 500px;
    width: 500px;
}





