@font-face {
  font-family: amiga3;
  src: url(/assets/fonts/TopazPlus_a500_v1.0.ttf); }
a, a:hover, a:link, a:active, a:visited {
  text-decoration: none;
  color: #0a49a4;
  cursor: url("/assets/cursors/amiga_pointers/link.png"), move; }

html, body {
  height: 100%; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  font-weight: 100;
  font-size: 20px;
  font-family: amiga3, Helvetica, sans-serif;
  background-color: #0a49a4;
  cursor: url("/assets/cursors/amiga_pointers/normal2.png"), move; }

/* buttons */
.toback, .tofront {
  height: 28px;
  width: 35px;
  background-color: white;
  border: 1px solid #0a49a4; }

.toback .blackSquare, .toback .whiteSquare {
  position: relative;
  height: 15px;
  width: 20px;
  background-color: black;
  top: 9px;
  left: 10px;
  z-index: 200; }
.toback .whiteSquare {
  position: absolute;
  background-color: white;
  border: 1px solid #0a49a4;
  z-index: 100;
  top: 5px;
  left: 5px; }

.tofront .blackSquare, .tofront .whiteSquare {
  position: relative;
  height: 15px;
  width: 20px;
  background-color: black;
  top: 9px;
  left: 10px;
  z-index: 100; }
.tofront .whiteSquare {
  position: absolute;
  background-color: white;
  border: 1px solid #0a49a4;
  z-index: 200;
  top: 5px;
  left: 5px; }

/* window */
.window {
  color: white;
  background-color: #0a49a4;
  position: absolute;
  display: none; }
  .window .topBorder {
    color: #0a49a4;
    height: 30px;
    background-color: white;
    position: relative;
    display: block;
    top: 0;
    padding-left: 5px;
    cursor: url("/assets/cursors/amiga_pointers/move2.png"), move; }
    .window .topBorder .closeBtn {
      float: left;
      width: 30px;
      height: 30px;
      border: 1px solid black; }
      .window .topBorder .closeBtn .subRect {
        border: 2px solid #0a49a4;
        width: 20px;
        height: 20px;
        margin: 0 auto;
        position: relative;
        top: 15%;
        text-align: center;
        line-height: 5px;
        font-family: arial; }
    .window .topBorder a.closeBtn {
      text-decoration: none; }
    .window .topBorder .windowName {
      padding-left: 5px;
      display: inline-block; }
  .window .content {
    padding: 15px;
    border: 2px solid white;
    height: 100%;
    overflow: auto; }

/* Head  */
nav {
  background-color: white;
  color: #0a49a4; }
  nav ul {
    list-style: none; }
    nav ul li {
      margin-left: 20px;
      display: inline; }
  nav .buttons .toback, nav .buttons .tofront {
    position: absolute;
    top: 0;
    right: 40px; }
  nav .buttons .tofront {
    right: 5px; }

.icons {
  float: right;
  width: 100px; }
  .icons .icon {
    color: white;
    text-align: center;
    padding-bottom: 20px; }

#about {
  top: 10%;
  left: 25%;
  position: absolute;
  height: 300px;
  width: 500px; }

#demos {
  top: 20%;
  left: 20%;
  height: 500px;
  width: 500px; }

/*# sourceMappingURL=app.css.map */
